.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div.goal {
  width: 80%;
  padding: 20px;
  border-style: solid;
  margin-top: 10px;
} 

new-goal-form {
  width: 45%;
  padding: 30px;
  border-color: #282c34;
}